/** index.html **/

.list-item-navbar {
    color: #777777 !important;
}

.border-under-nav {
    border-top: 2px solid ;
}

.h3-header {
    color: #4aaaa5
}

/* Sticky Footer Classes */
.footer-all {
    border-top: 4px solid #4aaaa5;
}

html,
body {
    height: 100%;
}

.page-content {
    flex: 1 0 auto;

}

#sticky-footer {
    flex-shrink: none;
}



.background-image {
    background-image: url("../assets/images/united-squares-negative/united-squares-negative.png");

}

.row-bottom {
    background-image: url("../assets/images/united-squares-negative/united-squares-negative.png");
}

.border-textbody {
    border: 2px solid black;
}

/* Contact page */

.btn-primary {
    background-color: #4aaaa5;
}

.btn-primary:hover {
    background-color: #80e6e0;
    color: black;
}

/** portfolio.html **/
.img-portfolio {
    max-height: 250px;
    width: 100%;
}

.porfolio-icon {
    position: relative
}

.icon-text {
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: white;
    background-color: #4aaaa5;
    padding: 10px 0px 10px 40px;
}

.icon-text:hover {
    background-color: #80e6e0;
    color: black;
}

.card {
    border: 0px;
}

/**Responsiveness Information**/
@media screen and (max-width: 980px)
{

}

@media screen and (max-width: 768px)
{

}

@media screen and (max-width: 640px)
{
    
}